[deps]
AdaptiveMCMC = "717c3277-546c-407d-8270-09a39a0919a0"
AdvancedHMC = "0bf59076-c3b1-5ca4-86bd-e02cd72cde3d"
Bijectors = "76274a88-744f-5084-9051-94815aaf08c4"
Catalyst = "479239e8-5488-4da2-87a7-35f2df7eef83"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
LogDensityProblems = "6fdf6af0-433a-55f7-b3ed-c6c6e0b8df7c"
LogDensityProblemsAD = "996a588d-648d-4e1f-a8f0-a84b347e47b1"
MCMCChains = "c7f686f2-ff18-58e9-bc7b-31028e88f75d"
ModelingToolkit = "961ee093-0014-501f-94e3-6117800e7a78"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
OrdinaryDiffEq = "1dea7af3-3e70-54e6-95c3-0bf5283fa5ed"
PEtab = "48d54b35-e43e-4a66-a5a1-dde6b987cf69"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
StatsPlots = "f3b207a7-027a-5e70-b257-86293d7955fd"

[compat]
AdaptiveMCMC = "0.1.4"
AdvancedHMC = "0.6"
Bijectors = "0.13"
Catalyst = "13"
DataFrames = "1"
Distributions = "0.25"
Documenter = "1"
LogDensityProblems = "2.1"
LogDensityProblemsAD = "1.7"
MCMCChains = "6"
ModelingToolkit = "8"
Optim = "1"
OrdinaryDiffEq = "6"
PEtab = "2"
Plots = "1"
StatsPlots = "0.15"
