[deps]
AdaptiveMCMC = "717c3277-546c-407d-8270-09a39a0919a0"
AdvancedHMC = "0bf59076-c3b1-5ca4-86bd-e02cd72cde3d"
Bijectors = "76274a88-744f-5084-9051-94815aaf08c4"
Catalyst = "479239e8-5488-4da2-87a7-35f2df7eef83"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
DocumenterCitations = "daee34ce-89f3-4625-b898-19384cb65244"
DocumenterVitepress = "4710194d-e776-4893-9690-8d956a29c365"
Fides = "18b51ec4-043b-11f0-1953-6f1d11d509fa"
Ipopt = "b6b21f68-93f8-5de0-b562-5493be1d77c9"
LinearSolve = "7ed4a6bd-45f5-4d41-b270-4a48e9bafcae"
LogDensityProblems = "6fdf6af0-433a-55f7-b3ed-c6c6e0b8df7c"
LogDensityProblemsAD = "996a588d-648d-4e1f-a8f0-a84b347e47b1"
MCMCChains = "c7f686f2-ff18-58e9-bc7b-31028e88f75d"
ModelingToolkit = "961ee093-0014-501f-94e3-6117800e7a78"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
Optimization = "7f7a1694-90dd-40f0-9382-eb1efda571ba"
OptimizationOptimJL = "36348300-93cb-4f02-beb5-3c3902f8871e"
OrdinaryDiffEqRosenbrock = "43230ef6-c299-4910-a778-202eb28ce4ce"
PEtab = "48d54b35-e43e-4a66-a5a1-dde6b987cf69"
PEtabSelect = "6de2f99a-1d3e-11f0-2fac-936eab9aa55b"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
QuasiMonteCarlo = "8a4e6c94-4038-4cdc-81c3-7e6ffdb2a71b"
SciMLSensitivity = "1ed8b502-d754-442c-8d5d-10ac956f44a1"
StableRNGs = "860ef19b-820b-49d6-a774-d7a799459cd3"
StatsPlots = "f3b207a7-027a-5e70-b257-86293d7955fd"
Sundials = "c3572dad-4567-51f8-b174-8c6c989267f4"

[compat]
AdaptiveMCMC = "0.1.4"
AdvancedHMC = "0.8"
Bijectors = "0.13, 0.15"
Catalyst = "15"
DataFrames = "1"
Distributions = "0.25"
Documenter = "1"
DocumenterCitations = "1"
DocumenterVitepress = "0.2"
Fides = "1.2"
Ipopt = "1"
LinearSolve = "3.29"
LogDensityProblems = "2.1"
LogDensityProblemsAD = "1.7"
MCMCChains = "7"
ModelingToolkit = "9"
Optim = "1"
Optimization = "4, 5"
OptimizationOptimJL = "0.4"
OrdinaryDiffEqRosenbrock = "1.0"
PEtab = "4"
PEtabSelect = "0.1"
Plots = "1"
QuasiMonteCarlo = "0.3"
SciMLSensitivity = "7.60"
StableRNGs = "1"
StatsPlots = "0.15"
Sundials = "4"
